Repository takezou621/n8n-tweet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test-related

lint:
  run: npx eslint src/ --fix

test-related:
  run: npm run test:integration --passWithNoTests

feat: Implement solution for issue #69\n\n📚 ドキュメント整備とデプロイ改善\n\nAuto-generated by Claude Code automation\n\n🤖 Generated with Claude Code\nCo-Authored-By: Claude <noreply@anthropic.com>
  docs/issue_69.md
  tests/test_issue_69.py
Due: none

feat: Implement solution for issue #68\n\n🛠️ エラーハンドリングとパフォーマンス最適化\n\nAuto-generated by Claude Code automation\n\n🤖 Generated with Claude Code\nCo-Authored-By: Claude <noreply@anthropic.com>
  src/bugfix_68.py
  tests/test_issue_68.py
Due: none

feat: Implement solution for issue #67\n\n⚡ コンテンツフィルタリング機能強化\n\nAuto-generated by Claude Code automation\n\n🤖 Generated with Claude Code\nCo-Authored-By: Claude <noreply@anthropic.com>
  src/bugfix_67.py
  tests/test_issue_67.py
Due: none

feat: TDD手法による完全実装とagent統合 (#7)
  .claude/agents/tdd-code-reviewer.md
  .claude/agents/tdd-integration-tester.md
  .claude/agents/tdd-refactor-advisor.md
  .claude/agents/tdd-test-generator.md
  .claude/agents/tdd-test-list-creator.md
  .claude/agents/tdd-workflow-guide.md
  config/twitter-config.json
  debug-rate-limiter.js
  docs/workflow-setup-guide.md
  scripts/import-workflows.sh
  src/integrations/twitter-client.js
  src/storage/tweet-history.js
  src/utils/error-handler.js
  src/utils/feed-parser.js
  src/utils/rate-limiter.js
  test-basic-functionality.js
  tests/integration/end-to-end.test.js
  tests/integration/helpers/test-helpers.js
  tests/integration/mocks/twitter-client-mock.js
  tests/integration/test-environment.test.js
  tests/integration/twitter-integration.test.js
  tests/performance/load-test.js
  tests/quality/quality-metrics.js
  tests/security/security-test.js
  tests/setup.js
  tests/unit/error-handler.test.js
  tests/unit/feed-parser.test.js
  tests/unit/health-checker.test.js
  tests/unit/logger.test.js
  tests/unit/metrics-collector.test.js
  tests/unit/rate-limiter.test.js
  tests/unit/tweet-history.test.js
  tests/unit/twitter-client.test.js
Due: lint, test-related

feat: 完全なテスト品質達成とダッシュボード機能強化
  src/integrations/twitter-client.js
  src/monitoring/metrics-collector.js
  src/storage/tweet-history.js
  src/utils/feed-parser.js
  src/utils/rate-limiter.js
  tests/integration/end-to-end.test.js
  tests/integration/helpers/test-helpers.js
  tests/integration/twitter-integration.test.js
  tests/unit/error-handler.test.js
  tests/unit/feed-parser-extended.test.js
  tests/unit/rate-limiter.test.js
  tests/unit/twitter-client.test.js
Due: lint, test-related

test: Fix metrics collector test for CI environment timing
  tests/unit/metrics-collector.test.js
Due: test-related

fix: resolve test failures and ESLint errors across test suite
  tests/integration/end-to-end.test.js
  tests/performance/load-test.js
  tests/quality/quality-metrics.js
  tests/security/security-test.js
  tests/unit/error-handler.test.js
  tests/unit/health-checker.test.js
  tests/unit/logger.test.js
  tests/unit/metrics-collector.test.js
Due: test-related

fix: resolve ESLint errors and improve code quality
  src/dashboard/index.js
  src/middleware/security.js
  src/monitoring/metrics-collector.js
  src/utils/crypto.js
Due: lint, test-related

feat: add Terraform deployment configuration for Proxmox LXC
  terraform/.gitignore
  terraform/README.md
  terraform/environments/production/.gitignore
  terraform/environments/production/main.tf
  terraform/environments/production/outputs.tf
  terraform/environments/production/terraform.tfvars.example
  terraform/environments/production/variables.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/provider.tf
  terraform/scripts/.env.production
  terraform/scripts/app-sync.sh
  terraform/scripts/backup.sh
  terraform/scripts/docker-compose.yml
  terraform/scripts/setup.sh
  terraform/variables.tf
  terraform/versions.tf
Due: none

fix: resolve critical ESLint errors to pass CI checks
  .claude/settings.local.json
  scripts/auto-setup-n8n.js
  src/dashboard/index.js
  src/middleware/security.js
  src/monitoring/metrics-collector.js
  src/utils/crypto.js
  src/utils/input-validator.js
  src/utils/rate-limiter.js
  static/js/dashboard.js
  tests/integration/comprehensive-e2e.test.js
  tests/integration/e2e-real-workflow.test.js
  tests/integration/end-to-end.test.js
  tests/integration/real-rss-test.js
  tests/integration/realistic-e2e.test.js
  tests/integration/tweet-generation-comprehensive-report.test.js
  tests/integration/tweet-generation-real-feed.test.js
  tests/integration/user-scenarios-e2e.test.js
  tests/manual/tweet-generation-demo.js
  tests/unit/tweet-generator-comprehensive.test.js
Due: lint, test-related

fix: resolve critical ESLint control-regex error
  src/utils/input-validator.js
  tests/integration/comprehensive-e2e.test.js
  tests/integration/e2e-real-workflow.test.js
  tests/integration/end-to-end.test.js
  tests/integration/realistic-e2e.test.js
  tests/integration/tweet-generation-comprehensive-report.test.js
  tests/integration/user-scenarios-e2e.test.js
  tests/unit/tweet-generator-comprehensive.test.js
Due: lint, test-related

fix: remove unused variables in test files
  tests/integration/comprehensive-e2e.test.js
  tests/integration/e2e-real-workflow.test.js
  tests/integration/tweet-generation-comprehensive-report.test.js
  tests/integration/user-scenarios-e2e.test.js
Due: test-related

fix: resolve syntax error in end-to-end test
  tests/integration/end-to-end.test.js
Due: test-related

fix: resolve additional unused variable and undefined errors
  tests/integration/comprehensive-e2e.test.js
  tests/integration/e2e-real-workflow.test.js
Due: test-related

fix: resolve all remaining ESLint errors
  tests/.eslintrc.json
  tests/integration/comprehensive-e2e.test.js
  tests/integration/e2e-real-workflow.test.js
  tests/integration/end-to-end.test.js
  tests/integration/tweet-generation-comprehensive-report.test.js
  tests/integration/tweet-generation-real-feed.test.js
  tests/unit/tweet-generator-comprehensive.test.js
Due: test-related

chore: apply dependency security updates
  .claude/settings.local.json
Due: none

fix: resolve Docker build user group conflict
  Dockerfile
Due: none

fix: address npm audit vulnerabilities and CI configuration
  .claude/settings.local.json
  .github/workflows/ci.yml
Due: none

fix: resolve CI workflow issues and audit checks
  .github/workflows/pr.yml
Due: none

fix: resolve bash regex syntax error in PR title validation
  .github/workflows/pr.yml
Due: none

fix: resolve bash quote escaping in sensitive data check
  .github/workflows/pr.yml
Due: none

fix: resolve test timing and port conflict issues
  tests/integration/realistic-e2e.test.js
  tests/integration/user-scenarios-e2e.test.js
  tests/unit/metrics-collector.test.js
Due: test-related

fix: improve RSS feed test resilience for CI environment
  tests/integration/e2e-real-workflow.test.js
  tests/integration/end-to-end.test.js
Due: test-related

fix: resolve ESLint errors in RSS test files
  tests/integration/e2e-real-workflow.test.js
  tests/integration/end-to-end.test.js
Due: test-related

fix: correct feed parser unit test expectations
  tests/unit/feed-parser-extended.test.js
  tests/unit/feed-parser.test.js
Due: test-related

fix: resolve CI test failures and Docker build issues
  .claude/settings.local.json
  .github/workflows/ci.yml
  tests/integration/comprehensive-e2e.test.js
  tests/integration/e2e-real-workflow.test.js
  tests/integration/end-to-end.test.js
  tests/integration/tweet-generation-real-feed.test.js
Due: test-related

fix: remove trailing spaces to pass ESLint checks
  tests/integration/end-to-end.test.js
  tests/integration/tweet-generation-real-feed.test.js
Due: test-related

fix: resolve application startup error with undefined logger
  src/index.js
Due: test-related

feat: add comprehensive unit tests and fix ESLint errors
  tests/unit/cache-service.test.js
  tests/unit/config-loader.test.js
  tests/unit/crypto.test.js
  tests/unit/tweet-generator.test.js
Due: test-related

feat: add comprehensive Playwright E2E testing suite with performance benchmarks
  playwright.config.js
  run-performance-tests.js
  tests/playwright/api.spec.js
  tests/playwright/dashboard.spec.js
  tests/playwright/performance.spec.js
  tests/playwright/user-scenarios.spec.js
Due: test-related

fix: resolve dashboard page title verification failure across all browsers
  src/dashboard/index.js
  tests/playwright/dashboard.spec.js
Due: lint, test-related

feat: comprehensive system improvements and production deployment
  .env.production.template
  Dockerfile.dashboard
  docker-compose.production.yml
  docs/deployment/proxmox-lxc-setup.md
  playwright-report/data/3623a9bc18a0168147dc7051d71abeafde67b099.md
  playwright-report/data/6ba0ffb017b99b45833f9106ba4d3808c1ed4b82.webm
  playwright-report/data/d606c7545cd71c2b0c27d9f99edbad4fa39f1174.png
  playwright-report/data/e139257baac1d69c8bffcb33219b65779cec0a26.png
  playwright-report/index.html
  scripts/deployment/quick-docker-setup.sh
  scripts/deployment/setup-production.sh
  src/middleware/security.js
  src/monitoring/metrics-collector.js
  src/utils/crypto.js
  src/utils/input-validator.js
  src/utils/rate-limiter.js
  terraform/proxmox/main.tf
  tests/integration/comprehensive-e2e.test.js
  tests/integration/e2e-real-workflow.test.js
  tests/integration/end-to-end.test.js
  tests/integration/real-rss-test.js
  tests/integration/realistic-e2e.test.js
  tests/integration/tweet-generation-comprehensive-report.test.js
  tests/integration/tweet-generation-real-feed.test.js
  tests/integration/user-scenarios-e2e.test.js
  tests/manual/tweet-generation-demo.js
  tests/playwright/screenshots/dashboard-desktop.png
  tests/playwright/screenshots/dashboard-main.png
  tests/playwright/screenshots/dashboard-mobile.png
  tests/playwright/screenshots/dashboard-navigation.png
  tests/playwright/screenshots/dashboard-stats.png
  tests/playwright/screenshots/dashboard-tablet.png
  tests/unit/feed-parser-extended.test.js
  tests/unit/feed-parser.test.js
  tests/unit/tweet-generator-comprehensive.test.js
Due: lint, test-related

fix: resolve Docker build errors and optimize build context
  .dockerignore
  Dockerfile
Due: none

docs: add Docker build optimization status to README
  README.md
Due: none

fix: resolve security scan workflow errors
  .github/workflows/security-scan.yml
Due: none

feat: add Playwright E2E testing framework
  .claude/settings.local.json
  package.json
  playwright.config.js
  tests/integration/user-scenarios.test.js
  tests/performance/system-performance.test.js
  tests/playwright/api.spec.js
  tests/playwright/dashboard.spec.js
  tests/playwright/screenshots/dashboard-desktop.png
  tests/playwright/screenshots/dashboard-main.png
  tests/playwright/screenshots/dashboard-mobile.png
  tests/playwright/screenshots/dashboard-navigation.png
  tests/playwright/screenshots/dashboard-stats.png
  tests/playwright/screenshots/dashboard-tablet.png
Due: test-related

chore: update local settings
  .claude/settings.local.json
Due: none

feat: add production deployment configuration
  .env.production.template
  Dockerfile.dashboard
  docker-compose.production.yml
  docs/deployment/proxmox-lxc-setup.md
  scripts/deployment/quick-docker-setup.sh
  scripts/deployment/setup-production.sh
Due: none

Path conditions:
  lint: any of: src/**/*.js
  test-related: any of: *.js
