Repository takezou621/n8n-tweet: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test-related

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "src/**/*.js"
      run: npx eslint src/ --fix
    test-related:
      glob: "*.js"
      run: npm run test:integration --passWithNoTests

pre-push:
  commands:
    tests:
      run: npm run test:integration
    lint-check:
      run: npx eslint src/

commit-msg:
  commands:
    check-commit:
      run: |
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .+" "{1}"; then
          echo "Commit message must follow conventional commit format:"
          echo "type(scope): description"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, test, chore"
          echo "Example: feat(auth): add user login functionality"
          exit 1
        fi

feat: add Terraform infrastructure as code for Proxmox
  terraform/proxmox/main.tf
Due: none

feat: add Playwright E2E testing framework (#74)
  .claude/settings.local.json
  package.json
  playwright.config.js
  tests/integration/user-scenarios.test.js
  tests/performance/system-performance.test.js
  tests/playwright/api.spec.js
  tests/playwright/dashboard.spec.js
  tests/playwright/screenshots/dashboard-desktop.png
  tests/playwright/screenshots/dashboard-main.png
  tests/playwright/screenshots/dashboard-mobile.png
  tests/playwright/screenshots/dashboard-navigation.png
  tests/playwright/screenshots/dashboard-stats.png
  tests/playwright/screenshots/dashboard-tablet.png
Due: test-related

feat: add production deployment configuration (security-hardened)
  .claude/agents/expert-code-reviewer.md
  .env.production.template
  Dockerfile.dashboard
  docker-compose.production.yml
  docs/deployment/proxmox-lxc-setup.md
  scripts/deployment/quick-docker-setup.sh
  scripts/deployment/setup-production.sh
Due: none

feat: add secure Terraform infrastructure for Proxmox deployment
  .claude/settings.local.json
  terraform/proxmox/.gitignore
  terraform/proxmox/main.tf
  terraform/proxmox/outputs.tf
  terraform/proxmox/terraform.tfvars.example
  terraform/proxmox/variables.tf
  terraform/proxmox/versions.tf
Due: none

feat: add production deployment configuration (security-hardened) (#77)
  .claude/agents/expert-code-reviewer.md
  .env.production.template
  Dockerfile.dashboard
  docker-compose.production.yml
  docs/deployment/proxmox-lxc-setup.md
  scripts/deployment/quick-docker-setup.sh
  scripts/deployment/setup-production.sh
Due: none

feat: add secure Terraform infrastructure for Proxmox deployment (#78)
  .claude/settings.local.json
  terraform/proxmox/.gitignore
  terraform/proxmox/main.tf
  terraform/proxmox/outputs.tf
  terraform/proxmox/terraform.tfvars.example
  terraform/proxmox/variables.tf
  terraform/proxmox/versions.tf
Due: none

fix: improve Redis container networking configuration
  terraform/scripts/docker-compose.yml
Due: none

fix: implement security improvements and architecture refactoring
  .claude/settings.local.json
  src/integrations/twitter-client.js
  src/utils/base-rate-limiter.js
  src/utils/dos-protection-limiter.js
  src/utils/rate-limiter-legacy.js
  src/utils/rate-limiter.js
  src/utils/twitter-rate-limiter.js
  tests/support/test-utils.js
  tests/unit/twitter-client.test.js
Due: lint, test-related

fix(security): resolve GitGuardian hardcoded password vulnerability
  .claude/settings.local.json
  SECURITY_SETUP.md
  config/template.env
  scripts/auto-setup-n8n.js
  src/utils/crypto.js
Due: lint, test-related

fix: テスト修正 - 構文エラー、未定義変数、暗号化キー強度の問題を解決
  tests/data/comprehensive/.gitkeep
  tests/integration/comprehensive-e2e.test.js
  tests/integration/tweet-generation-comprehensive-report.test.js
  tests/integration/tweet-generation-real-feed.test.js
  tests/integration/user-scenarios-e2e.test.js
  tests/unit/config-loader.test.js
  tests/unit/crypto.test.js
  tests/unit/feed-parser-extended.test.js
  tests/unit/tweet-generator-comprehensive.test.js
  tests/unit/tweet-generator.test.js
Due: test-related

fix(test): resolve E2E test failures and improve compatibility
  src/integrations/twitter-client.js
  src/utils/rate-limiter.js
  tests/integration/comprehensive-e2e.test.js
  tests/integration/e2e-real-workflow.test.js
  tests/integration/user-scenarios-e2e.test.js
Due: lint, test-related

docs(test): add E2E test completion reports and documentation
  .mcp.json
  .serena/project.yml
  FIXES_COMPLETED.md
  REQUIREMENTS_VERIFICATION_REPORT.md
Due: none

feat: RSS自動投稿システム実装
  .gitignore
  config/rss-feeds.json
  docker-compose.yml
  rss-auto-poster.js
  scripts/auto-setup-n8n.js
  src/integrations/twitter-client.js
  src/rss-collector.js
  test-oauth.js
  tests/playwright/screenshots/dashboard-desktop.png
  tests/playwright/screenshots/dashboard-main.png
  tests/playwright/screenshots/dashboard-mobile.png
  tests/playwright/screenshots/dashboard-navigation.png
  tests/playwright/screenshots/dashboard-stats.png
  tests/playwright/screenshots/dashboard-tablet.png
  workflows/ai-tweet-rss-workflow-fixed.json
Due: lint, test-related
